<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/duckk.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
  <link rel="stylesheet" href="/css/information_product.css">
   <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/post_product.css">
  <link rel="stylesheet" href="/css/categories.css">
  <link rel="stylesheet" href="/css/account.css">
  <link rel="stylesheet" href="/css/product.css">
    
  {{{_sections.css}}}
  {{{_sections.jsHead}}}
  <title>Đăng sản phẩm</title>
</head>
<body style="background-color: #F6F6F6;">  
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ECFFFF; height: 60px;">
    <a href="/"><i class="fa fa-home fa-3x" aria-hidden="true" style="color: #BFEEFA;" id="btHome"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="dropdown">
        <div class='avt-name' data-toggle="dropdown">
          <img class="rounded-circle" width="35px" height="35px"
            src="https://cdn.trangcongnghe.com/uploads/posts/2017-11/lien-quan-mobile-top-5-nhung-tuong-khac-che-cung-superman-ma-ban-can-biet_1.jpg"
            alt="">
          <p class="navbar-text ml-2 m-1">{{authUser.firstname}} {{authUser.lastname}}</p>
        </div>
        <div class="dropdown-menu dropdown-menu-right" style="margin-top:0px" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <form id="frmLogout" method="post" action="/account/logout"></form>
            <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </div>
      </div>
      
      <div style="border-left: 1px solid #E8E8EC; height: 30px;" class="ml-4 mr-4"></div>
      <div class="dropdown">
          <img src="/img/icons8-squared-menu-50.png" width="30px" height="30px" data-toggle="dropdown">
        <div class="dropdown-menu dropdown-menu-right text-right" style="top:28px" aria-labelledby="dropdownMenuButton">
          <a style="color: #007BFF;" class="dropdown-item" href="manageProductSeller.html">Products  <i class="fas fa-gift" style="color: #007BFF;"></i></a>
          <a class="dropdown-item" href="sellerSoldItems.html" style="color: rgb(240, 196, 53);">Sold <i style="color: rgb(240, 196, 53);" class="fas fa-wallet"></i></a>
        </div>
      </div>
      
      <img src="/img/icons8-bell-100.png" class="ml-4 mr-4" width="30px" height="30px">
    </div>
    </div>
  </nav>
{{#if showMenuSeller}}
<div class="container mt-3 mb-5" style="display: block;">
    <div class="row mt-2">
        <div class="col-sm-4">
            <h3 class="title"><i class="fa fa-address-book"></i>Manage Product</h3>
            <hr>
            <div class="sidenav">
                <a href="/seller/add_product"><i class="fa fa-plus-square text-success" aria-hidden="true"></i>Add product</a>
                <a {{#if my_product}} style="color: blue; "{{/if}} href="/seller/my_product" ><i class="fa fa-shopping-bag"></i>My products</a>
                <a {{#if sold}} style="color: blue; "{{/if}} href="/seller/sold"><i class="fa fa-usd"></i>Sold products</a>
            </div>
        </div>
        <div class="col-sm-8">
            {{{body}}}
        </div>
    </div>
</div>



{{else}}
{{{body}}}
{{/if}}
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.js"></script>
  <script src="/js/post_product.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {{{_sections.js}}}
</body>

</html>