{{#section 'adUser'}}

<script src="/js/adEditUser.js" type="text/javascript"></script>
{{/section}}


<div class="col-sm-9" style="margin-top: 20px;">
  <div class="content_menu">
    <div class="content">
      <h3>Add category </h3>
      <hr>

<form onsubmit="return validate();" method="POST" id="frmRegister" name="frmRegister" autocomplete="off">
  <div class="form-group">
          <label for="txtCatId">ID</label>
          <input type="text" class="form-control" id="id_user" name="id_user" readonly value="{{user.id_user}}">
        
        </div>
  <div class="form-group">
    <label for="inputAddress2"  >Username</label>
    <input type="text" name="username" class="form-control" id="inputAddress2"  value="{{user.username}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Firstname</label>
      <input type="text" name="firstname" class="form-control" id="txtFirstName" value="{{user.firstname}}">
    <div id="errFName"></div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Lastname</label>
      <input type="text" name="lastname" class="form-control" id="txtLastName" value="{{user.lastname}}">
    <div id="errLName"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" name="addr" class="form-control" id="txtAddr" value="{{user.addr}}">
    <div id="errAddr"></div>
 </div>
  
  <div class="form-row mb-3">
      <label for="inputCity">Mail</label>
      <input type="text" name="email" class="form-control" id="txtEmail" value="{{user.email}}">  
      <div id="errEmail"></div>
  </div>

   <a href="/admin/categories" class="btn btn-outline-info">
          <i class="fa fa-backward" aria-hidden="true"></i>
          Back</a>
        <button type="submit" formaction="/admin/users/patch" id="addC" class="btn btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save</button>
        <button type="submit" formaction="/admin/users/del" class="btn btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Delete</button>
</form>

    </div>
  </div>
</div>  