<div class="col-sm-9" style="margin-top: 20px;">
  <div class="content_menu">
    <div class="content">
      <h3>All Product </h3>
      <hr>
      {{#if this.empty}}
      <div class="card-body">
        <p class="card-text">
          Không có dữ liệu.
        </p>
      </div>
      {{else}}
      <div class=" d-flex">
        <button class="btn btn-secondary btn-sm dropdown-toggle my-2 mr-3" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Filter
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" style="display: inline-block;width: 550px;" type="text"
            placeholder="Search" aria-label="Search">
        </form>
        <a  href="/admin/products/add" class="btn btn-info my-2 mr-3 py-0 text-center" style="width:auto; height: 38px;">+ Add item</a>

        

      </div>

      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="row"><input type="checkbox" name="vehicle1" value="Bike"> STT</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.products}}
          <tr>
            <th scope="row"><input type="checkbox" name="vehicle1" value="Bike"> {{id}}</th>
            <td><a href="manageCategoriesDetail.html">{{ten_SP}}</a></td>

            <td>{{chungLoai}}</td>
             <td class=" text-right">
              <a class=" btn btn-outline-primary btn-sm" href="/admin/products/edit/{{id}}"><i
                  class="fa fa-pencil-square"></i>
              </a>
            </td>
          </tr>
          {{/each}}  

        </tbody>
      </table>
      {{/if}}
    </div>
  </div>
</div>

