{{#section 'jsHead'}}
 <script>
  var i = 0;
  var imgsource = [];

  {{#each imgsource}}
    imgsource.push('{{this}}');
  {{/each}}
  function changeImg(x){
    if (x == document.getElementById("changimgR")){
        $('#smallPic').children().eq(i).css('border','0')
       
        i++;
        if (i>(imgsource.length - 1))
            i=0;
        document.getElementById("mainPic").setAttribute("src",imgsource[i]);
        $('#smallPic').children().eq(i).css('border', '2px solid #00AEEF');
        
    }
    else {
        $('#smallPic').children().eq(i).css('border','0')
        i--;
        if (i<0)
            i=imgsource.length - 1;
        document.getElementById("mainPic").setAttribute("src",imgsource[i]);   
        $('#smallPic').children().eq(i).css('border', '2px solid #00AEEF');
    }
}

function pic(x){
    $('#smallPic').children().eq(i).css('border','0')
    for (var j = 0;j<imgsource.length;j++)
    {   console.log(imgsource[j] +' va '+x.src)
        if(x.src.indexOf(imgsource[j])!== -1)
        {
            i=j;
        }
    }
    $('#smallPic').children().eq(i).css('border', '2px solid #00AEEF');
    document.getElementById("mainPic").setAttribute("src",x.src);
}
</script>
{{/section}}

<div class="container mt-3 mb-5" id="content">
  <div id="link">
    <a href="#">
      <p class="product">Catawiki</p>
    </a>
    <p class="product">></p>
    <a href="#">
      <p class="product"> Watches</p>
    </a>
    <p class="product">></p>
    <a href="#">
      <p>Unused Premium Watches </p>
    </a>
    <p class="product">></p>
    <a href="#">
      <p class="product">Premium Watch Auction (Unused)</p>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h1 style="font-weight:700; font-size: 30px;display: inline;">{{rows.ten_SP}}</h1>
      <div class="row mt-4">
        <div class="col-sm-4">
          <div  class="text-center">
            <img style="margin-top: 100px;  margin-left: auto; margin-right: auto;" class="rounded-circle" width="80px" height="80px"
              src="{{Seller.avatar}}"
              alt="">
            <br>
            <p class="product" style="font-size:20px;">Seller:</p> <br>
            <p class="product" style="font-size:20px;">* *</p>
            <p class="product" style="font-size:20px;" id="nameSeller">{{Seller.usernameMask}}</p>
            <br>
            <i class="far fa-heart fa-2x " style="color: #15AABF"></i>
            <p style="font-size:20px;" id="voteSeller">{{Seller.diem_DG}}</p>
            <p class="product" style="font-size:20px;">%</p>
          </div>
          <br>

          <h5 class="product" style="font-size:18px;color: black; margin-top: 260px; display: block;">Any questions?
          </h5>

          <a href="#" style="font-size: 14px; color:#B4B4B4;" class="Contract"><i class="fas fa-shipping-fast"
              style="color: #B4B4B4;"></i> Contact our Customer
            Support</a>
        </div>
        <div class="col-sm-8">

          <div class="card img" style="width: 29rem;border:0;height: 26rem">
            <img src="{{MainPic}}" height="400px"
              class="card-img-top" alt="..." id="mainPic">
            <div onclick="changeImg(this)" id="changimgR" class="d-inline"
              style="margin-top: 150px;margin-left: 415px; position: absolute;">
              <i class="fas fa-chevron-circle-right fa-3x rounded-circle changeImg"></i>
            </div>
            <div onclick="changeImg(this)" style="position: absolute;margin-left: 0px;margin-top: 150px;">
              <i class="fas fa-chevron-circle-left fa-3x rounded-circle changeImg"></i>
            </div>
          </div>
          <div class="mr-5 text-center" id="smallPic">
            {{#each imgsource}}
            <img class="mr-2"
              src="{{this}}"
              width="65px" height="65px" alt="..."  onclick="pic(this)">
            {{/each}}
          </div>
          <div style="margin-top: 90px;">
            <div class="text-center">
              <button type='button' id="description" class="description" style="border: 2px solid #BFEEFA">
                <p class="product" style="font-size:20px;">Description</p>
              </button>
              <button type='button' id="seller" class="description">
                <p class="product" style="font-size:20px"> Seller</p>
              </button>
            </div>

            <div class="mt-3">
              <div id="inf" class=" border-left pl-4">
                <h5 class="product" style="font-size:20px; color: black;" id="titleDes">{{rows.ten_SP}}</h5>
                <br>
                <br>
                <h5 class="product" style="font-size:17px; color: black; display:inline">POST IN:         </h5>
                <p class="product" style="font-size:17px; color: black;" id="brand">{{timeCreate}}</p>
                <br>
                <br>
                <h5 class="product" style="font-size:17px; color: black;  display:inline">STATUS:           </h5>
                <p class="product" style="font-size:17px; color: black;" id="Series">{{rows.tinhTrang}}</p>
                <br>
                <br>
                <h5 class="product" style="font-size:17px; color: black;  display:inline">WEIGHT:          </h5>
                <p style="font-size:17px; color: black;" id="serialNumber">{{rows.trongLuong}}</p>
                <br>
                <p class="product" style="font-size:17px; color: black; margin-top: 20px; display: block;" id="moreInf">
                  {{{rows.moTaSP}}}
                  <br>Will be shipped registered & insured</p>
              </div>
              <div id="infSeller" class=" border-left pl-4">
                <p class="product" style="font-size: 15px; color: #727272;"> * * </p>
                <p class="product" id="nameSeller" style="font-size: 15px; color: #727272;">{{username_Seller}}</p>
                <p class="product" style="font-size: 15px; color: #727272;">member since</p>
                <p class="product" style="font-size: 15px; color: #727272;"> {{timeCreateSeller}}</p>
                <br>
                <p class="product" style="font-size: 18px;">Feedback score: <i class="far fa-heart fa-x "
                    style="color: #15AABF"></i>
                </p>
                <p class="product" id="voteSeller" style="color: black;">{{Seller.diem_DG}}</p>
                <p>% (</p>
                <p class="product" id="totalVote">{{totalRatingSeller}}</p>
                <p>reviews )</p>
                <br>
                {{#each detailRateSeller}}
                <br>
                <p><i class="fas fa-user-edit" style="color: #3878E1;"></i> {{nhan_xet_DG}}    ({{diem_DG}} point)</p>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      {{#ifa check '&&' canSell}}
      <div class="shadow mb-5 bg-white rounded" id="lotClosed"  style="display: none">
        <div class="headTag-close">
          <div class="p-3">
            <p class="product" style="color: white; ">Lot closed</p>
            <hr style="border-color: white;margin-top: -5px;">
            <br>
            <p class="product" style="display:block; color: white; margin-top: -20px;">You can no longer place any bids
              on this lot.</p>
          </div>
        </div>
      </div>
      <div class="shadow mb-5 bg-white rounded" id='lotOpen'>
        <div class="headTag">
          <div class="p-3">
            <p class="product" style="color: white;">Lot closes in:</p>
            {{#ifa noBanCurUser '&&' noHadFavourite}}
            <button type="button" id = "btAddFavourite" class="btn btn-outline-light float-right" onclick=" return addFavourite()">Add <i class="fas fa-plus"></i></button>
            {{/ifa}}
            <br>
            <h5 class="product" id="timeEnd">
              <script>
                var countDownDate = new Date("{{ rows.timeEnd }}").getTime();

                setInterval(function () {

                  // Get today's date and time
                  var now = new Date().getTime();

                  // Find the distance between now and the count down date
                  var distance = countDownDate - now;

                  // Time calculations for days, hours, minutes and seconds
                  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((distance % (1000 * 60)) / 1000);


                  // Output the result in an element with id="demo"

                  document.getElementById('timeEnd').innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                  // If the count down is over, write some text 
                  if (distance < 0) {
                    $('#lotClosed').show(),
                      $('#lotOpen').hide()
                  }
                }, 1000);
              </script>
            </h5>
            <hr style="border-color: white;">
            <p class="product" style="font-weight: 700; color: white;">You haven't bid on this lot yet.</p>
          </div>
        </div>
        <div class="p-3">
          <p class="bodyTag product">Current bid</p>
          <p class="product" style="font-family: ProximaNova,Helvetica Neue,Arial,sans-serif;
                         font-weight: 400; font-size: 20px; font-weight: 700;">$</p>
          <p class="product" style="font-family: ProximaNova,Helvetica Neue,Arial,sans-serif;
                        font-weight: 400; font-size: 20px; font-weight: 700;" id="currendBid">{{rows.gia_HienTai}}</p>
          <br>
          <p class="product" {{#if curUserIsBidder}} style="font-size: 15px; weight: 600; color: #F00" {{else}} style="font-size: 15px;" {{/if}}>Bidder: * *</p>
          <p class="product" {{#if curUserIsBidder}} style="font-size: 15px; weight: 600; color: #F00" {{else}} style="font-size: 15px;" {{/if}} id="nameBidder">
            {{BidderPrice.usernameMask}}  </p>
          <i class="far fa-heart" style="color: #15AABF"></i>
          <p class="product" id="voteBidder">{{BidderPrice.diem_DG}}</p>
          <p>%</p>
          <br>
          <p class="bodyTag product" style="font-size: 13px;">Next minimum bid  $</p>
          <p class="bodyTag product" style="font-size: 13px;" id="minBid">{{minium_Bid}}</p>
          <br>
          <p class="bodyTag product" style="font-size: 13px;">Location: </p>
          <p class="bodyTag product" style="font-size: 13px;font-weight: 500; color: #B1B1B1;">VietNam</p>
          <br>
          <p class="product" style="font-size: 15px; font-weight: 700;"> Bid directly</p>
          {{#if noBanCurUser}}
          <form id="inputBid" method="POST">
            <div>
               <span id="examplePrimay" style="display: block;"></span>
              <input style="text-align:right; width: 45%; background:url(../img/dollar.png) no-repeat scroll 7px 4px;
                                padding-left:30px;" type="text" class="form-control rounded-pill d-inline"
                id="primary" name="gia_HienTai">
              <button style="text-align:right; width: 45%;" type="button" onclick="buyPrimary({{checkLogin}},{{rows.allBuy}},{{maxAuto}},{{isCurMaxAuto}},{{curUser.diem_DG}})"
                class="btn btn-primary rounded-pill mb-2 text-center" id="btPrimary">Primary</button>
              <span id="notiWrong" style="color: red;font-weight: 700;"></span>
              <br>
              <p class="product" style="font-size: 15px; font-weight: 700;"> Place an automatic bid</p>
              <br>
              <span id="exampleAuto" style="display: block;"></span>
              <input style="text-align:right; width: 45%; background:url(../img/dollar.png) no-repeat scroll 7px 4px;
                                padding-left:30px;" type="text" class="form-control rounded-pill d-inline"
                id="primaryAuto" name="primaryAuto">
                
              <button style="text-align:right; width: 45%; background-color: #FF7C2D;color: white;" type="button" onclick="buyAuto({{checkLogin}},{{rows.allBuy}},{{maxAuto}},{{isCurMaxAuto}},{{curUser.diem_DG}})"
                class="btn btn-warning rounded-pill mb-2 text-center" id="btPrimaryAuto" formaction="/product/{{rows.id}}/auto">Primary</button>
              <span id="notiWrongAuto" style="color: red;font-weight: 700; display: block;"></span>
              <a href="#" style="font-size: 12px;">How do automatic bids work?</a>
              <br>
              <br>
              {{#if check_MuaNgay}}
              <div id="buyNow" class="text-center">
                <button style="text-align:right; width: 45%; background-color: #BFEEFA;color: #4097E8; margin-top:5px;margin-left:auto;margin-right:auto;" type="button" onclick="buyNowPro({{checkLogin}},{{rows.allBuy}},{{curUser.diem_DG}})"
                  class="btn btn-primary rounded-circle mb-2" id="btbuyNow">BUY NOW</button>
                  <br>
                <h5 class="product" style="color: #3878E1;  display:inline"> $</h5>
                <h5 class="product" style="color: #3878E1; font-weight: 700; font-size: 25px;  display:inline"
                  id="priceBuyNow">
                  {{rows.gia_MuaNgay}}</h5>
              </div>
              {{/if}}
            </div>
          </form>
          {{/if}}
          <br>
          <br>
          <a data-toggle="modal" data-target="#exampleModalScrollable" href="javascript:void(0)"
            style="font-size: 15px;" id="ViewAll">View all bids</a>
        </div>
      </div>
      {{else }}
      <div class="shadow mb-5 bg-white rounded" id="lotClosed" {{#ifa check '&&' canSell }} style="display: none"{{/ifa}}>
        <div class="headTag-close">
          <div class="p-3">
            <p class="product" style="color: white; ">Lot closed</p>
            <hr style="border-color: white;margin-top: -5px;">
            <br>
            <p class="product" style="display:block; color: white; margin-top: -20px;">You can no longer place any bids
              on this lot.</p>
          </div>
        </div>
      </div>
      {{/ifa}}
    </div>
  </div>




  
   <div class="a my-4">
    <h3>Auction closing soon</h3>
    <div class="list_product row d-flex justify-content-around ">
      {{#each end}}
      <a href="/product/{{id}}" class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img style="height:250px;" src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
           <div class="card_banner" style="width: 2.5rem;">
           {{num_of_bid}}
          </div>
         <div class="banner_new" id="a{{id}}" style="width: 2.5rem;">
          New
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">{{ten_SP}}</h5>
          
            <div class="card-subtitle text-muted mb-2 ">
              <div id="block1">Buy now: </div>
              <div id="block3">{{gia_MuaNgay}}</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1"><i class="fa fa-user" style="color: rgb(248, 180, 53);" aria-hidden="true"></i> </div>
              <div class="bidder mt-2">****{{lastname}} </div>
            </div>
            <div id="price"><strong> {{gia_HienTai}}</strong> </div>
            <div class="time_remain align-content-lg-start">
              <strong>Close in </strong>
              <time class="time_close">
                 <p id="{{id}}">
                    <script>
                      var countDownDate{{id}} = new Date("{{timeEnd}}").getTime();
                      var countDownDate2{{id}} = new Date("{{timeCreate}}").getTime();

                      var x{{id}} = setInterval(function () {

                        // Get today's date and time
                        var now{{id}} = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance = countDownDate{{id}} - now{{id}};

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        
                        // Output the result in an element with id="demo"

                        document.getElementById({{id}}).innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";
                        // If the count down is over, write some text 
                        if (distance < 0) {
                          
                          clearInterval(x{{id}});
                          document.getElementById({{id}}).innerHTML = "EXPIRED";
                        }
                      }, 1000);


                    var x2{{id}} = setInterval(function () {

                        // Get today's date and time
                        var now{{id}} = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance =   now{{id}}   - countDownDate2{{id}};
                      
                        // If the count down is over, write some text
                        
                        if (distance <1800000) {
                          
                          clearInterval(x2{{id}});
                          document.getElementById("a"+{{id}} ).setAttribute('class','card_banner_new');
                        }
                      }, 1000);


                    </script>
                  </p>
              </time>
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="product" style="color:black; font-weight:700; font-size: 23px;">Bid history</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="allBid">
          <div class="card-body">
           
            <div class="row ">
              <div class="col-sm-5">
                <p class="bidHistory product">Time</p>
              </div>
              <div class="col-sm-3">
                <p class="bidHistory product" class="bidHistory">Bidder</p>
              </div>
              <div class="col-sm-4">
                <p class="bidHistory product" class="bidHistory">Price</p>
              </div>
            </div>
             {{#each AllDetailPrice}}
             <div class="row ">
              <div class="col-sm-5"> 
                <p class="bidHistory product">{{timePriced}}</p>
              </div>
              <div class="col-sm-3">
                <p class="bidHistory product" class="bidHistory">***{{usernameMask}}</p>
              </div>
              <div class="col-sm-4">
                <p class="bidHistory product" class="bidHistory">{{Money}}</p>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- form ẩn cho mua ngay -->
<form action="/product/{{rows.id}}/buyNow" style="display: none;" id="formBuyNow" method="POST">
  <input type="text" value="{{rows.gia_MuaNgay}}" name="gia_HienTai">
  <input type="text" value="{{curUser.id_user}}" name="nguoiThang">
</form>

<!-- form thêm sản phẩm yêu thích -->
<form action="/product/{{rows.id}}/addFavourite" style="display: none;" id="addFavourite" method="POST">
  <input type="text" value="{{rows.id}}" name="id_SP">
  <input type="text" value="{{curUser.id_user}}" name="id_NM">
</form>