{{#section 'css'}}
<link rel="stylesheet" href="/css/account.css">
<link rel="stylesheet" href="/css/feedback.css">
{{/section}}

{{#section 'js'}}
<script src="/js/account.js"></script>
{{/section}}

<div class="content_menu">
                <div class="content">
                    <h2>Feedback</h2>
                    <hr>
                    <div class="mb-3">Rating: <b> {{authUser.diem_DG}} </b></div>
                    <hr>
                    {{#if this.empty}}
                    <div><b>You haven't feedback yet.</b></div>
                    {{else}}
                        <div class="mb-2"><h3>Detail:</h3></div>
                        <div class="row">
                        {{#each this.feedback}}
                        
                        <div class="col-4 mb-3">
                            
                            {{#if diem_DG}}
                            <div class="card h-100 border-success text-white">
                                <div class="card-header bg-success">{{maskName}}</div>
                                <div class="card-body">
                                    <div class="text-dark">Feedback: <br>{{nhan_xet_DG}}</div>
                                </div>
                                <div class="card-footer bg-success border-success">Time: {{timeCreate}}</div>
                            </div>
                            {{else}}
                            <div class="card h-100 border-danger text-white">
                                <div class="card-header bg-danger">{{maskName}}</div>
                                <div class="card-body">
                                    <div class="text-dark">Feedback: <br>{{nhan_xet_DG}}</div>
                                </div>
                                <div class="card-footer bg-danger border-danger">Time: {{timeCreate}}</div>
                            </div>
                            {{/if}}
                            
                        </div>
                        
                        {{/each}}
                        </div>
                         
                    {{/if}}
                </div>
            </div>