{{#section 'css'}}
<link rel="stylesheet" href="/css/wishlist.css">
<link rel="stylesheet" href="/css/account.css">
{{/section}}

{{#section 'js'}}
<script src="/js/account.js"></script>
{{/section}}

<div class="content" id="scroll">
            <h4>Wishlist</h4>
            <div>Your favorite products.</div>
            <hr class="mt-3">
            {{#if this.empty}}
            <div><b>Your wishlist is empty!</b></div>
            {{else}}
            {{#each this.products}}
            {{#if isDuration}}

            <div class="in-stock">
                <div class="card-body shadow-sm mb-5 p-3 bg-white rounded h-100 w-100">
                    <div class="row">
                        <div class="col-sm-2" href="/product/{{id}}">
                            <img src="{{link}}"
                                alt="" class="categories">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="item-title" href="/product/{{id}}">{{ten_SP}}</h5>
                            <div class="item-content">{{moTaSP}}</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p style="font-size: 15px; font-weight: 700;">Buy now: {{format gia_MuaNgay}}đ</p>
                                    <br>
                                    <p style="font-size: 15px; font-weight:700;">Close in</p>
                                    <p id="timeOut">{{timeOut}}</p>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-outline-primary rounded-pill"
                                        onclick="window.location.href='/product/{{id}}'">View this
                                        lot</button>
                                    <button type="button" class="btn btn-outline-danger rounded-pill"
                                        onclick="window.location.href='/user/wishlist/del/{{id}}'">Delete this
                                        item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{else}}

            <div class="out-of-stock">
                <div class="card-body shadow-sm mb-5 p-3 bg-white rounded h-100 w-100">
                    <div class="row oos">
                        <div class="col-sm-2">
                            <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                alt="" class="categories">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="item-title">{{ten_SP}}</h5>
                            <div class="item-content">{{moTaSP}}</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p style="font-size: 15px; font-weight: 700;">Buy now: {{format gia_MuaNgay}}đ</p>
                                    <br>
                                    <p style="font-size: 15px; font-weight:700;">Close in </p>
                                    <p id="timeOut">{{timeOut}} </p>
                                </div>

                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-outline-primary rounded-pill"
                                        onclick="window.location.href='/product/{{id}}'">View this
                                        lot</button>
                                    <button type="button" class="btn btn-outline-danger rounded-pill"
                                        onclick="window.location.href='/user/wishlist/del/{{id}}'">Delete this
                                        item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
            {{/if}}
        </div>